{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<form action="/polls/suggestions/" method="post">
    {% csrf_token %}
    <label for="suggestion_text">Enter a suggestion for a new poll: </label>
    <input id="suggestion_text" type="text" name="suggestion_text" value="Suggestion">
    {{ form.as_p }} 
    <input type="submit" value="OK">
</form>
